<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<app-employee-list></app-employee-list>
<app-employee-details></app-employee-details>

<!-- Employee service file 
create a service file 
mention injectable in app module providers and import the service
mention dependancy in constructor where we want to use the service
access the data in ngOnIt function as it is called once components are initialised
injectable is used when we have dependency in services ie we use service inside service
 -->

