<!--The content below is only a placeholder and can be replaced.-->
<!-- IF else & switch are used to add or remove some html elements based on some condition-->
<div style="text-align:center">
  <!-- ngIf if true block persist if false it will be removed -->
  <h2 *ngIf="displayprop">VIJAY GARG</h2>
  <!-- if else block-->
  <h2 *ngIf="displayprop; else elseblock1">VIJAY GARG</h2>
  <ng-template #elseblock1>
      <h2 >NOTHING</h2>
  </ng-template>
  <!-- if else seprate blocks defined -->
  <div *ngIf="displayprop; then thenblock; else elseblock;"></div>
  <ng-template #thenblock>
      <h2>
        Shivu 
      </h2>
    </ng-template>
  <ng-template #elseblock>
    <h2>
      Rohit Garg
    </h2>
  </ng-template>

  <!-- SWITCH CASE when multiple if else has to be execute-->
  <div [ngSwitch]="currcolor">
    <div *ngSwitchCase="'red'">RED</div>

    <div *ngSwitchCase="'blue'">BLUE</div>

    <div *ngSwitchCase="'black'">BLACK</div>

    <div *ngSwitchDefault>NOTHING SELECTED</div>


  </div>
</div>
<!-- ngFor is used to render few HTML elements -->
<table>
  <thead>
      <th>Index</th>
      <th>First</th>
      <th>Last</th>
      <th>Odd</th>
      <th>Even</th>
      <th>Color</th>
  </thead>
  <tbody>
  <tr *ngFor="let color of colors; index as i; first as f; last as l; odd as o; even as e">
    <td>{{i}}</td>
    <td>{{f}}</td>
    <td>{{l}}</td>
    <td >{{o}}</td>
    <td >{{e}}</td>
    <td >{{color}}</td>
  </tr>
</tbody>
</table>

